{% include "baselog.html.twig" %}

{% block body %}
    
<div id="loginbox">            
        <form class="form-vertical" action="{{ path('security_login') }}" method="post">
             <div class="control-group normal_text"> <h3><img src="{{asset('build/images/logo.png')}}"></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span><input placeholder="Andresse Mail ..." required name="_username" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input placeholder="Mot de Passe ..." required name="_password" type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                <!-- <span class="pull-left"><a href="{{ path('security_registration') }}" class="flip-link btn btn-success" id="to-login">&laquo; Créer nouvelle Compte</a></span> -->
                <span class="pull-right"><button type="submit" class="btn btn-success">Se Connecter</button></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
            
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                    </div>
                </div>
           
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                <span class="pull-right"><a class="btn btn-info"/>Reecover</a></span>
            </div>
        </form>
    </div>

{% endblock %}