{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>ETO NO ASIANA NY ACCUEIL:</h1>
    <h3>Ity ambany ity misy exemple ana boutton manao redirection any @ny client : </h3>
    
    <a href="{{ path('client_index') }}"  class="btn btn-primary" role="button">Gerer Client</a>
</div>
{% endblock %}
