{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}


{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Client</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ path('client_new') }}">
                              <button type="button" class="btn btn-primary btn-sm">Créer Client</button>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Client</h5>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

            <div class="card-body">
                {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
            </div>

            <div class="card-footer p-0">
                    <div class="mailbox-controls">
                      <div class="float-right">
                        <div class="btn-group">
                            <a href="{{ path('client_index') }}">
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                            </a>
                            <a>
                                {{ include('client/_delete_form.html.twig') }}
                            </a>
                        </div>
                        <!-- /.btn-group -->
                      </div>
                      <!-- /.float-right -->
                    </div>
                  </div>

        </div>
    </div>
</div>
{% endblock %}
